* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-image: url(https://wallpaperset.com/w/full/c/f/7/6545.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.game-sair {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 30px;
    padding-bottom: 40px;
}

.sair {
    height: 50px;
    width: 100px;
    background-color: grey;
    border-radius: 15%;
    border: none;
    font-size: 18px;
    background-color: grey;
    transition: all 0.2s ease;
}

.sair:hover {
    cursor: pointer;
    width: 110px;
    height: 55px;
}

.game-area{
    height: 100vh;
    width: 70%;
    background-color: #080808;
}


